- @users.each do |user|
  .col-sm-12.col-md-12.user-box
    .media
      .media-left
        %a{ href: user_path(user.id)}
          = image_tag(user.avatar, alt: "64x64", class: "media-object", style: "width: 64px; height: 64px")
      .media-body
        %h4.media-heading.user-name
          = link_to user.username, user_path(user.id)
          - if user.photographer_flg
            %span.glyphicon.glyphicon-camera
          - if user.model_flg
            %span.glyphicon.glyphicon-user
        %p
          = user.profile

